*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
//.wrap{
//  width: 100%;
//  height: 100%;
//}
.head{
    img{
        width: 100%;
    }
}
.dh{
    background:#212121;
    line-height: 50px;
    div{
        position: relative;
        width: 1200px;
        margin: 0 auto;
        .u1{
            float: left;
            color: #999999;
        }
        .u1 li{
            list-style: none;
            float: left;
            margin-left: 10px;
        }
        .u1:after{
            display: block;
            clear: both;
            content:'';
        }
        .u2{
             float: right;
             color: #999999;
        }
        .u2 .gw{
            background: #424242;
            text-align: center;
            width: 100px;
        }
        .u2 .gw:hover{
            background: white;
            color: red;
        }
        .u2 li{
            list-style: none;
            float: left;
            margin-left: 10px;
           
            .gw1{
                position: absolute;
                width: 300px;
                height: 100px;
                display: none;
                background: white;
                box-shadow: 0px 5px 20px gainsboro;
                right: 0;
            } 
        }
    }
}
.dh:after{
       display: block;
       clear: both;
       content:'';
}




.midh{
    width: 1200px;
    margin: 0 auto;
    line-height: 50px;
    .div1{
        float: left;
        margin-top: 20px;
        .img2{
            margin-left: 50px;
        }
    }
    ul{
//      font-size: 20px;
        margin-top: 20px;
        float: left;
    }
    ul li{
        list-style: none;
        float: left;
        margin-left: 20px;
    }
    .ss{
        float: right;
        display: flex;
    }
    input{
        margin-top: 20px;
        width: 300px;
        height: 50px;
    }
    .span{
        border: 2px solid darkgray;
        text-align: center;
        line-height: 50px;
        margin-top: 20px;
        width: 50px;
        height: 50px;
    }
}
.midh:after{
       display: block;
       clear: both;
       content:'';
}
.lunbo{
    position: relative;
    width: 1200px;
    height: 390px;
    margin: 0 auto;
    
    .lun1{
        position: absolute;
        float: left;
        width: 100%;
//      background-image: url(img/lb.jpg);
        background: white;
//      background-size:100% ;
//      background-repeat: round;
        ul{
            width: 250px;
            background: #333333;
            position: absolute;
            z-index: 1;
        }
        .lun1_left li{
            width: 250px;
            height: 39px;
            line-height: 39px;
            color: white;
            background: #333333;
            padding-left: 20px;
            list-style: none;
            span{
                float: right;
                margin-right: 10px;
                font-size: 20px;
            }
            .lun2{
                width: 800px;
                height:390px ;
                background: white;
                position: absolute;
                top:0;
                left: 270px;
                display: none;
                z-index: 999;
            }
        }
        .lun1_left li:hover{
            background: orangered;
        }
        
    }
.wrap{position:relative;width:100%;height:390px;margin:0 auto;}
.wrap .box{width:100%;height:390px;position: relative; overflow: hidden}
.wrap .box a{
  display: block;position: absolute;top:0;left:0;width: 100%;
}
.wrap img{width:100%;}
.wrap ul{position: absolute;bottom:10px;left:50%;margin-left:-50px;background: none;}
.wrap li{width:10px;height:10px;margin-left:5px;margin-right: 5px;
  background-color: gray;border-radius: 50%;  float: left;cursor:pointer;list-style: none}
.wrap .prev{width:40px;height:70px;
  background-color:#c0c0c0;position: absolute;left:0;top:50%;margin-top: -35px;font-size: 30px;
  font-weight: 900;line-height: 70px;text-align:center;cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  opacity: 0.5;
  color: #FFFFFF;}


.wrap .next{width:40px;height:70px;
  background-color:#c0c0c0;position: absolute;right:0;top:50%;margin-top: -35px;font-size: 30px;
  font-weight: 900;line-height: 70px;text-align:center;cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  opacity: 0.5;
  color: #FFFFFF;}

.wrap .hot{ background-color: red;}

//  .but{
//      .z{
//          position: absolute;
//          font-size: 40px;
//          color: darkgray;
//          left: 635px;
//          top: 475px;
//          right: 30px;
//          
//      }
//      .y{
//          position: absolute;
//          font-size: 40px;
//          color: darkgray;
//          left: 1530px;
//          top: 480px;
//      }
//  }
}
.tb{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    .tb1{
        margin-top: 20px;
        width: 240px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background: #5F5750;
        div{
            width: 80px;
            text-align: center;
        }
    }
    .tb2{
        margin-top: 20px;
        width: 300px;
        margin-left: 20px;
        img{
            width: 100%;
        }
        img:hover{
            margin-top: -2px;
            box-shadow: 0px 5px 20px gainsboro;
        }
    }
}
.danpin{
    width: 1200px;
    margin: 0 auto;
    .d{
        
        .d1{
            float: left;
            margin-top: 30px;
        }
        .d2{
            float: right;
            margin-top: 30px;
        }
    }
    .d:after{
           display: block;
           clear: both;
           content:'';
    }
    .p{
        margin-top: 30px;
       .p1{
           width: 224px;
           height: 380px;
           line-height: 35px;
           float: left;
           background: #FAFAFA;
           margin-left: 20px;
           text-align: center;
           img{
               width: 100%;
               margin-top: 30px;
           }
           
       }
       
       p{
//         margin-top: 20px;
       }
    }
}
.danpin:after{
           display: block;
           clear: both;
           content:'';
    }
.jd{
    width: 1200px;
    background: #F5F5F5;
    margin: 0 auto;
    margin-top: 20px;
    .d{
        background: #F5F5F5;
        .d1{
            float: left;
            margin-top: 30px;
        }
        ul li{
            float: right;
            margin-left: 10px;
            margin-top: 30px;
            list-style: none;
        }
    }
    .d:after{
           display: block;
           clear: both;
           content:'';
    }
    
    .p{
        width: 1200px;
        .p1{
            width: 224px;
            float: left;
            img{
                margin-top: 10px;
                width: 100%;
            }
            img:hover{
                margin-top: 8px;
                box-shadow: 0px 5px 20px gainsboro;
            }
        }
        .p2{
            float: left;
            width: 976px;
            background: #F5F5F5;
            height: 598px;
            .p3{
                width: 976px;
                div{
                    background: white;
                    margin-top: 10px;
                    line-height: 43px;
                    float: left;
                    margin-left:20px;
                    width: 220px;
                    height: 288px;
                    text-align: center;
                    img{
                        width: 63%;
                    }
                    
                       ul{
                           list-style: none;
                           background: white;
                           height: 130px;
                           margin-top: 20px;
                           text-align: left;
                           li{
                               width: 100px;
                               float: left;
                               margin-top: 25px;
                               img{
                                   margin-left: 30px;
                               }
    
                           }
                       }
                       ul:after{
                           display: block;
                           clear: both;
                           content: '';
                       }
                       ul:hover{
                           margin-top: 18px;
                       }
                }
//              div:hover{
//                  margin-top: 8px;
//                  box-shadow: 0px 5px 20px gainsboro;
//              }
            }
            .p3:after{
               display: block;
               clear: both;
               content:'';
            }
            
    //          .pp1{
    //              width: 50px;
    //              font-size: 5px;
    //              background: red;
    //              float: left;
    //              color:white;
    //              position: relative;
    //              top: -10px;
    //              left: 80px;
    //          }
        }
        .p2:after{
           display: block;
           clear: both;
           content:'';
        }
    } 
    .p:after{
           display: block;
           clear: both;
           content:'';
    }
}
.jd:after{
           display: block;
           clear: both;
           content:'';
    }

.bj{
    background: #F5F5F5;
}

.zn{
    width: 1200px;
    margin: 0 auto;
    background: #F5F5F5;
//  border: 1px solid red;
.d{
        background: #F5F5F5;
        .d1{
            float: left;
            margin-top: 30px;
        }
        ul li{
            float: right;
            margin-left: 10px;
            margin-top: 30px;
            list-style: none;
        }
    }
    .d:after{
           display: block;
           clear: both;
           content:'';
    }
    div{
        width: 1200px;
    
     .z1{
        width: 224px;
        float: left;
        img{
            width: 100%;
        }
    }
        .z1:hover{
            margin-top: -2px;
            box-shadow: 0px 5px 20px gainsboro;
        }
        .z2:hover{
            margin-top: -2px;
            box-shadow: 0px 5px 20px gainsboro;
        }
        .z3:hover{
            margin-top: -2px;
            box-shadow: 0px 5px 20px gainsboro;
        }
        .z4:hover{
            margin-top: -2px;
            box-shadow: 0px 5px 20px gainsboro;
        }
    
    
    .z2{
        background: white;
        width: 224px;
        text-align: center;
        float: left;
        margin-left: 20px;
    }
    .z3{
        background: white;
        width: 224px;
        text-align: center;
        float: right;
        margin-top: 20px;
        margin-left: 20px;
    }
    .z4{
        width: 224px;
        float: left;
        margin-top: 10px;
        img{
            width: 100%;
        }
    }
    }
    div:after{
           display: block;
           clear: both;
           content:'';
    }
}
.dp{
    width: 1200px;
//  border: 1px solid red;
    margin: 0 auto;
    background: #F5F5F5;
}

.dp{
    .d{
        background: #F5F5F5;
        .d1{
            float: left;
            margin-top: 30px;
        }
        ul li{
            float: right;
            margin-left: 10px;
            margin-top: 30px;
            list-style: none;
        }
    }
    .d:after{
           display: block;
           clear: both;
           content:'';
    }
    
    ul{
        width:1200px ;
        margin-top: 20px;
        list-style: none;
        .l1{
            width: 224px;
            float: left;
            img{
                width: 100%;
            }
        }
        .l1:hover{
            margin-top: -2px;
            box-shadow: 0px 5px 20px gainsboro;
        }
        .l2:hover{
            margin-top: -2px;
            box-shadow: 0px 5px 20px gainsboro;
        }
        .l2{
            width: 224px;
            float: left;
            text-align: center;
            margin-left: 20px;
            line-height: 43px;
            background: white;
        }
        .l3{
            margin-top: 20px;
            width: 224px;
            float: right;
//          background: white;
            .l31{
                width:224px;
            }
            .top{
                width: 224px;
                height: 130px;
                line-height: 50px;
                background: white;
                div{
                    float: left;
                    margin-left: 20px;
                     margin-top: 30px;
                }
                img{
                    width: 100px;
                    float: right;
                }
            }
            .top:hover{
                margin-top: -2px;
                box-shadow: 0px 5px 20px gainsboro;
            }
            .top:after{
                       display: block;
                       clear: both;
                       content:'';
                }
            .left{
                width: 224px;
                height: 130px;
                line-height: 50px;
                background: white;
                margin-top: 24px;
                div{
//                  float: left;
                    margin-left: 20px;
                    margin-top: 30px;
                }
                img{
                    width: 80px;
                    float: right;
                    margin-top: -80px;
                    margin-right:10px ;
                }
            }
                .left:hover{
                    margin-top: -2px;
                    box-shadow: 0px 5px 20px gainsboro;
                }
            .left:after{
                       display: block;
                       clear: both;
                       content:'';
            }
        }
        .l31:after{
            display: block;
            clear: both;
            content: '';
        }
        .l4{
            width: 224px;
            float: right;
            text-align: center;
            margin-right: 20px;
            margin-top: 20px;
            line-height: 43px;
            background: white;
        }
        .l4:hover{
            margin-top: 18px;
            box-shadow: 0px 5px 20px gainsboro;
        }
        .l5{
            width: 224px;
            float: right;
            margin-top: 17px;
            margin-right: 20px;
            img{
                width: 100%;
            }
        }
        .l5:hover{
            margin-top: -2px;
            box-shadow: 0px 5px 20px gainsboro;
        }
    }
     ul:after{
               display: block;
               clear: both;
               content:'';
     }
}

.rp{
    width: 1200px;
    margin: 0 auto;
    background:#F5F5F5 ;
     .d{
        background: #F5F5F5;
        .d1{
            float: left;
            margin-top: 30px;
        }
    }
    .d:after{
               display: block;
               clear: both;
               content:'';
     }
    ul{
        margin-top: 20px;
        list-style: none;
        li{
            background: white;
            margin-left: 20px;
            text-align: left;
            width: 285px;
            line-height: 40px;
            float: left;
            p{
                margin-left: 20px;
            }
            h3{
                margin-left: 20px;
            }
            img{
                width: 100%;
            }
        }
        li:hover{
            margin-top: -2px;
            box-shadow: 0px 5px 20px gainsboro;
        }
    }
    ul:after{
               display: block;
               clear: both;
               content:'';
     }
    
}
.bottom{
    background: white;
    height: 300px;
    margin-top: 50px;
    .ul1{
        margin: 0 auto;
        width: 1200px;
        height: 80px;
        line-height: 50px;
        list-style: none;
        border-bottom: 1px solid gainsboro;
        li{
            text-align: center;
            height: 30px;
            width: 230px;
            line-height: 30px;
            margin-top: 20px;
            border-right: 1px solid gainsboro;
//          margin-left: 40px;
            float: left;
        }
    }
    .ul1:after{
               display: block;
               clear: both;
               content:'';
     }
     .bot1{
         width: 1200px;
         margin: 0 auto;
         .left{
             margin-top: 50px;
             float: left;
             border-right: 1px solid gainsboro;
             width: 960px;
             ul{
                 width: 960px;
                 list-style: none;
                 .l1{
                     margin: 0;
                 }
                 li{
                     margin-top: 20px;
                     width: 160px;
                     float: left;
                 }
             }
             ul:after{
               display: block;
               clear: both;
               content:'';
             }
         }
         .right{
             margin-left: 20px;
             float: left;
             text-align: center;
             margin-top: 50px;
             text-align: center;
             div{
                 margin:0 auto;
                 margin-top: 20px;
                 width: 100px;
                 height: 30px;
                 text-align: center;
                 line-height: 30px;
                 border: 2px solid orange;
                 color: orange;
             }
         }
     }
    .bot1:after{
               display: block;
               clear: both;
               content:'';
     }
}

.dibu{
    width: 1200px;
    margin: 0 auto;
    height: 100px;
    div{
        margin-top: 30px;
        margin-left: 10px;
        float: left;
        p{
            font-size: 10px;
            margin-top: 4px;
            color: gray;
        }
    }
}
.fd:hover{
    margin-top: 8px;
    box-shadow: 0px 5px 20px gainsboro;
}















































